.bold{
  font-family: "PT Serif","Droid Serif","Times New Roman",arial,sans-serif;
  font-weight: 700;
}
[class$="-line"]{
	position: relative;
}
.top-line:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	border-top: 1px solid #e1e1e1;
	color: #e1e1e1;
	-webkit-transform: scaleY(.5);
	-webkit-transform-origin: 0 0;
	pointer-events: none;
}

.bottom-line:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid #e1e1e1;
	color: #e1e1e1;
	-webkit-transform: scaleY(.5);
	-webkit-transform-origin: 0 0;
	pointer-events: none;
}
.text-overflow{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.textOne-overflow{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}